:root {
	--primary-color: rgba(183, 22, 22, 0.8);
	--secondary-color: white;
 }

*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.recipe .btn {
	color: var(--secondary-color) !important;
	background-color: var(--secondary-color) !important;
	
}
